<div class="climate-grid-container">
  <img id="partly-cloudy" src="../../assets/images/if_09_cloudy_sun_happy_emoticon_weather_smiley_3375691.svg"/>
  <img id="sunny" src="../../assets/images/if_02_sun_smile_happy_emoticon_weather_smiley_3375687.svg"/>
  <img id="rainy" src="../../assets/images/if_06_rain_cloud_cry_emoticon_weather_smiley_3375694.svg"/>
  <img id="thunderstorm" src="../../assets/images/if_08_thunder_cloud_angry_emoticon_weather_smiley_3375692.svg"/>
  <span>Partly&nbsp;cloudy</span>
  <span>Sunny</span>
  <span>Rainy</span>
  <span>Thunderstorm</span>
</div>

